= form_for(@vendor) do |f|
  - if @vendor.errors.any?
    #error_explanation
      %h2
        = pluralize(@vendor.errors.count, "error")
        prohibited this vendor from being saved:
      %ul
        - @vendor.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br
      = f.text_field :name
  .field
    = f.label :description
    %br
      = f.text_area :description
  .actions
    = f.submit
