<!DOCTYPE html>
<html id='<%= "#{controller_name}-#{action_name}" %>'>
<head>
  <title>Shockabsorber</title>
  <%= stylesheet_link_tag    'vendors', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'vendors', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'common/header_app' %>
    <%= yield %>
</body>
</html>
